### Python's Opendatasets library is used for downloading open datasets from open datasets present in platforms such as Kaggle.
### Before starting, you need to have the Opendatasets library installed in your system. If it's not present in your system, use Python's package manager pip and run

### 1. Installing the Opendatasets package

In [1]:
!pip install opendatasets

Requirement already satisfied: opendatasets in d:\programas\anaconda3\lib\site-packages (0.1.20)
Requirement already satisfied: kaggle in d:\programas\anaconda3\lib\site-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in d:\programas\anaconda3\lib\site-packages (from opendatasets) (7.0)
Requirement already satisfied: tqdm in d:\programas\anaconda3\lib\site-packages (from opendatasets) (4.36.1)
Requirement already satisfied: six>=1.10 in d:\programas\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.12.0)
Requirement already satisfied: requests in d:\programas\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.22.0)
Requirement already satisfied: python-dateutil in d:\programas\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.0)
Requirement already satisfied: python-slugify in d:\programas\anaconda3\lib\site-packages (from kaggle->opendatasets) (6.0.1)
Requirement already satisfied: urllib3 in d:\programas\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.24.2)
Requirement already satisfied: certifi in d:\programas\anaconda3\lib\site-packages (from kaggle->opendatasets) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in d:\programas\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\programas\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in d:\programas\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)

### 2. Importing the Opendatasets library

In [2]:
import opendatasets as od

In [3]:
od.download("https://www.kaggle.com/navink25/framingham/download")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: santiagormanica
Your Kaggle Key: ········
Downloading framingham.zip to .\framingham

  0%|          | 0.00/60.0k [00:00<?, ?B/s]

100%|██████████| 60.0k/60.0k [00:00<00:00, 9.21MB/s]

### 3. Opening your downloaded data set

In [6]:
import pandas as pd
df = pd.read_csv('./framingham/framingham.csv')

In [7]:
df.head()

,Sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,male,39,4.0,No,0.0,0.0,0,0,No,195.0,106.0,70.0,26.97,80.0,77.0,0
1,female,46,2.0,No,0.0,0.0,0,0,No,250.0,121.0,81.0,28.73,95.0,76.0,0
2,male,48,1.0,Yes,20.0,0.0,0,0,No,245.0,127.5,80.0,25.34,75.0,70.0,0
3,female,61,3.0,Yes,30.0,0.0,0,1,No,225.0,150.0,95.0,28.58,65.0,103.0,1
4,female,46,3.0,Yes,23.0,0.0,0,0,No,285.0,130.0,84.0,23.10,85.0,85.0,0